
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<p>Use this area to provide additional information.</p>
<p>nihaoa </p>
<p>hello man</p>
<img src="http://cdn.rickyer.com/0lieri.jpg" alt="Alternate Text" />

