@{
    Layout = "~/Views/Shared/_myLayout.cshtml";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="~/Content/mainpagecss.css">
</head>
<body>
    <div id="maintitle">
        <p id="chn">学生信息管理系统</p>

    </div>

    <div id="btn">
        <a href="#" class="button white">学生登录</a>
        <a href="#" class="button white">查看演示</a>
        <a href="#" class="button white">教师登录</a>
    </div>

    <div id="footer">
        <p><span>Newgrand.Inc</span> | © 2017 - <span>ruiqi</span></p>
        <p>Power by <span>Ext.js</span> & <span>c#</span></p>
    </div>
</body>
</html>

